<button (click)="atras()">Atras</button>
<ut-led [color]="'blue'" [frecuencia]='1000'></ut-led>
<ut-led [color]="'green'" [frecuencia]='500'></ut-led>
<ut-led [color]="'yellow'" [frecuencia]='200'></ut-led>
<ut-led [color]="'orange'" [frecuencia]='100'></ut-led>
<ut-led [color]="'red'" [frecuencia]='10'></ut-led>
